

@font-face {
    font-family: 'Kaytek';
    src: url(../fuentes/KaytekRounded-Bold.ttf);
}

@font-face {
    font-family: 'Novecentos';
    src: url(.../fuentes/Novecentosanswide-Normal.otf);
}

.navbar {
    background-color: #051f34 !important; 
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.vr {
    border-left: 2px solid #01eeff;
    height: 40px;
    margin: 0 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
}


.navbar a.text-decoration-none {
    font-family: 'Novecentos', sans-serif;
    font-size: 16px;
}




.navbar .navbar-nav .nav-link {
    color: #eff6fd;
    font-size: 21px;
    font-family: 'Novecentos', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}


.navbar .navbar-nav .nav-link:hover {
    color: #01eeff; 
}


.navbar .navbar-brand img {
    height: auto;
    width: 100%;    
    max-width: 150px;
    margin-top: -3px;
}



.navbar-nav.flex-row {
    align-items: center;
    display: flex;
    height: 100%;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .navbar-nav.flex-row .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    height: 100%;
    
  }
  

.navbar-categories {
    margin-top: 70px;
    width: 100%;
    z-index: 900;
    background-color: #043385;
    font-size: 20px;
}


.navbar-categories .nav {
    display: flex;
    justify-content: space-around !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-categories .nav-link {
    color: #01eeff;
    font-weight: bold;
    text-align: center;
    font-family: 'Novecentos', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 5px;
}

.navbar-categories .nav-link:hover {
    background-color: #003366;
    color: #fff;
}





  .search-box {
    position: relative;
    top: auto;
    right: 2px;
    transform: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

  

  @media (max-width: 768px) {
    .search-box {
      right: 10px;
      transform: translateY(-50%) scale(0.9);
    }
  
    .input.inclicked {
      width: 250px;
    }
  }
  
  .input {
    width: 20px;
  height: 20px;
    background: none;
    border-radius: 50%;
    border: 1.5px solid #fff;
    box-sizing: border-box;
    outline: none;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
      padding 0.2s;
    transition-delay: 0.4s;
    color: white;
    font-size: 12px;
  }
  
  .inclicked {
    width: 200px;
    border-radius: 0;
    padding: 0 5px;
    padding-right: 20px;
  }
  
  .btn {
    position: absolute;
    width: 25px;
  height: 25px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .btn::before {
    content: "";
    width: 3px;
    height: 7px;
    background: #fff;
    position: absolute;
    transform: rotate(-45deg);
    bottom: -7px;
    right: -1px;
    transition: 0.3s;
  }
  
  .close::before,
  .close::after {
    content: "";
    width: 3px;
    height: 10px;
    background: #fff;
    position: absolute;
    bottom: 2px;
    right: 9px;
  }
  
  .close::before {
    transform: rotate(-45deg);
  }
  
  .close::after {
    transform: rotate(45deg);
  }
  
