/* Cambiar el fondo de la barra de navegación */
.navbar-custom {
    background-color: #343a40;
        position: fixed; /* Fija la barra de navegación en la parte superior */
        top: 0; /* La coloca en la parte superior de la página */
        left: 0; /* Alinea la barra con el borde izquierdo */
        width: 100%; /* Asegura que la barra ocupe todo el ancho de la pantalla */
        z-index: 1000; /* Asegura que la barra quede por encima de otros elementos */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra suave para mejorar el contraste */
    /* Fondo oscuro */
}

/* Cambiar el color de los enlaces */
.navbar-custom .navbar-nav .nav-link {
    color: #0b4271;  /* Color naranja para los enlaces */
    font-size: 21px; 
    font-family: Tahoma, sans-serif;
    /* Tamaño de fuente */
}

/* Estilo al pasar el mouse sobre los enlaces */
.navbar-custom .navbar-nav .nav-link:hover {
    color: #058dfc;  /* Enlaces blancos cuando el mouse pasa sobre ellos */
}

/* Cambiar el color de la marca */
.navbar-custom .navbar-brand {
    color: #259ae3;  /* Color blanco para la marca */
    font-family: Kristen ITC;
    font-size: 27px;
}

/* Estilo para el botón de búsqueda */
.navbar-custom .btn-outline-success {
    border-color: #0a10c1;  /* Color del borde */
    color: #0d63e3;  /* Color del texto */
}

/* Estilo del botón de búsqueda al pasar el mouse */
.navbar-custom .btn-outline-success:hover {
    background-color: #0b4271;  /* Fondo naranja */
    color: white;  /* Texto blanco al pasar el mouse */
}

/* CSS personalizado para mover el formulario de búsqueda a la derecha */
.navbar .d-flex {
    margin-left: auto;  /* Esto mueve el formulario hacia la derecha */
}
