@font-face {
    font-family: 'Roboto';
    src: url(../fuentes/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Questrial';
    src: url(../fuentes/Questrial-Regular.ttf);
}

@font-face {
    font-family: 'Novecentos';
    src: url(../fuentes/Novecentosanswide-Normal.otf);
}

@font-face {
    font-family: 'Kaytek';
    src: url(../fuentes/KaytekRounded-Bold.ttf);
}

@font-face {
  font-family: 'Circle';
  src: url(../fuentes/Circle\ Cake.otf);
}

@font-face {
  font-family: 'Howdy';
  src: url(../fuentes/Howdy\ Frog.otf);
}

@font-face {
  font-family: 'Sarnie';
  src: url(../fuentes/KGWhattheTeacherWants.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fuentes/Roboto-Medium.ttf);
}

body {
    background: linear-gradient(90deg, #137dff, #00aaff) ;
    background-size: cover;
    background-repeat: no-repeat;
    
}


