@font-face {
    font-family: 'miFuente';
    src: url(../fuentes/MonsterFriendBack.otf);
}
@font-face{
    font-family: 'miFuenteUndertale';
    src: url(../fuentes/undertale.ttf);
    
}

@font-face{
    font-family: 'miFuentePaparyus';
    src: url(../fuentes/papyrus-font-undertale.ttf);
    
}
body:hover{

    cursor: url('cor.png'), pointer;
    cursor: url('cor.png'), auto;
    cursor: url('cor.png'), default;
    cursor: url('cor.png'), pointer;
}

html{

    cursor: url('cor.png'), auto;
    cursor: url('cor.png'), default;
    cursor: url('cor.png'), pointer;
}
.a{
    
font-family: 'miFuente';
}
.Titulo{

    font-family: 'miFuentePaparyus';
font-size: 50px;
background-color: rgba(0, 0, 0, 0.5);
border: rgba(255, 255, 255, 0.836) 10px dashed;
width: 1200px;

}



.cuadros{

    font-family: 'miFuenteUndertale';
    padding: 10px;
    border: rgb(255, 255, 255) 10px double;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 1200px;
    
    
}

.cuadrosInteriores{
    font-family: 'miFuenteUndertale';
    display: inline-block;
   
    
}
.cuadrosInteriores2{
    font-family: 'miFuenteUndertale';
    display: inline-block;
    
  padding-right: 15px;

  padding-left: 15px;

}

.textoInterior{
    font-family: 'miFuenteUndertale';
 background-color: rgba(0, 0, 0, 0);
    color: white;
}

body{
    
    color: white;
    background-image: url('fondos/a2.gif');
    background-size: cover;
    /*background-size:contain;*/
    background-repeat: no-repeat;

}

.contenedor{
    
    
    border: rgb(255, 255, 255) 10px double;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
}

.texto{
    font-family: 'miFuenteUndertale';
    text-decoration: none; /* Elimina el subrayado */
  color: #ffffff; /* Cambia el color del texto del enlace a negro (o el color que desees) */
}

a:hover {

    color: rgb(251, 255, 0);
    cursor: url('cor.png'), pointer;
    border: rgb(251, 255, 0) 10px solid;
}

a{
    font-family: 'miFuenteUndertale';
    padding: 3px;
    border: rgb(255, 255, 255) 10px double;
}

.cuadrosInteriores3{
    font-family: 'miFuenteUndertale';
    display: inline-block;
    
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 20px;

}

.x{

    background-color: rgba(0, 0, 0, 0.5);
}

.tex{

font-family: 'miFuenteUndertale';
    color: white;
    font-weight: normal;
}